:root{
  --primary: #424242; /* dark grey */
  --light: #9E9E9E; /* light grey */
  --accent: #BA68C8; /* purple */
  --accent2: #CE93D8; /* light purple */
  --width: 600px;
}

::selection{
  background-color: #FFD54F;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Code|Fira+Sans:300,400|Reenie+Beanie&display=swap');

body, header, h1, h2, h3, h4, p, div, section, ul, li {
  margin: 0;
  padding: 0;
}

body{
  color: var(--primary);
  font-size: 16px;
  font-family: 'Fira Sans', calibri, sans-serif;
  font-weight: 300;
}

/* doc width */
.header-container, main, .footer-container{
  max-width: var(--width);
  margin: auto;
}

a{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--accent);
}

a:hover{
  transition: 400ms ease-in;
  border-bottom: 3px solid var(--accent);
}

.header-container{
  margin: 2em auto;
}

.site-logo{
  float: left;
  height: 40px;
}

.nav-ul{
  list-style: none;
  display: flex;
  float: right;
  padding-top: 8px;
  margin-bottom: 8em;
}

.nav-ul li{
  padding-right: 1em;
}

.nav-ul a{
  color: var(--light);
  border-bottom: none;
}

.nav-ul a:hover{
  color: var(--primary);
  border-bottom: 3px solid var(--accent);
  transition: 400ms ease-in;
}

.heading{
  clear:both;
  width: 400px;
  margin-bottom: 0.5em;
}

.reward{
  font-size: 2em;
}

.reward-container{
  margin-bottom: 6em;
}

.about-container{
  margin-bottom: 4em;
}

.heading-title{
  clear: both;
  width: 100%;
}

.heading-descriptions{
  font-size: 4em;
  line-height: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.about-text{
  padding-top: 3em;
  border-top: 1px solid var(--accent);
}

main{
  clear: both; /* clear float form nav */
  margin-bottom: 10em;
}

section{
  margin-bottom: 5em;
}

h1{
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  /* font-weight: 400; */
  margin-bottom: 1em;
}

h3{
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
}

h4{
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 0.75em;
}

section ul{
  padding-left: 1em;
}

section ul li{
  margin-bottom: 0.5em;
}

p{
  line-height: 1.5em;
  margin-bottom: 1em;
}

a.button{
  clear: both;
  display: inline-block;
  margin-top: 1em;
  color: white;
  background-color: var(--accent2);
  border: 1px solid var(--accent2);
  border-radius: 6px;
  padding: 4px 15px;
}

a.button:hover{
  background-color: var(--accent);
  border: 1px solid var(--accent);
}

.divider {
  color: var(--accent);
}

.date {
  font-style: italic;
}

code{
  color: #BA68C8;
  font-size: 0.95em;
  font-family: 'Fira Code', monospace;
  background-color: #ECEFF1;
  padding: 0 6px;
}

.habit-phasing {
  margin-bottom: 2em;
}

.fine-print {
  color: var(--light);
  font-size: 0.8em;
}


/* reset <a> in social icons */
.social-icons-container a{
  border: none;
}
.social-icons-container a:hover{
  border: none;
}

.social-icons-container {
  padding-left: none;
  display: flex;
}

.footer-container{
  height: 60px;
}

.footer-credit{
  float: left;
}

.footer-social{
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
}

.icon-list{
  fill: var(--light);
  display: inline-block;
  width: 24px;
  margin-right: 0.5em;
}

.icon-list:hover .icons{
  transition: 300ms ease-in;
  fill: var(--accent);
}

.painting-container{
  max-width: 1220px;
  margin: auto;
}

.image-grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 10em;
}

.painting{
  background-color: var(--light);
  width: 400px;
  height: 400px;
  margin-bottom: 0;
}

@media only screen and (min-width: 360px){
  body{
    width: 90%;
    margin: auto;
  }
}
